version: "3"

version: "3"
services:
  postgres:
    image: postgres:9.6
    network_mode: bridge
    container_name: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    expose:
    - 5432
    ports:
      - 5432:5432
    environment:
         - POSTGRES_PASSWORD=docker
         - POSTGRES_USER=docker
         - POSTGRES_DB=docker
    restart: unless-stopped

  api:
    build: .
    image: sbpg-api:0.1
    network_mode: bridge
    depends_on: 
      - postgres
    expose:
      - 8080
    ports:
      - 8080:8080
    restart: unless-stopped
volumes:
  postgres-data: